package components

import "github.com/jmarren/go-web/internal/models"

templ Home(h *models.HomeData) {
	<h1>Home</h1>
	<button hx-get="/about" hx-target="#page" preload="mouseover" hx-swap="innerHTML">About</button>
	<div>{ h.Username }</div>
}
